@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



main{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 2rem;

    
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #deb6b8;
    padding: 15px;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1rem;
}

.form-image img {
    width: 30rem;
    height: 80vh;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 2rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.submit-button button {
 width: 100%;
 margin-top: 2.5rem;
 border: none;
 background-color: #e6a8ab;
 padding: 0.60rem;
 border-radius: 5px;
 cursor: pointer;
}

.submit-button button:hover {
    background-color: #ebbabc;
}

.submit-button button a {
    text-decoration: none;
    font-size: 0.93rem ;
    font-weight: 500;
    color: #fff;
}
.form-header h1:after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #e6a8ab;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input {
    margin: 0.5rem 0;
    padding: 0.7rem 1.1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #e6a8ab;
}

.input-box label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}
